@mixin center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    align-content: center;
}

@mixin wh($wight: 0, $height: 0) {
    @if $wight != 0 {
        width: $wight;
    }
    @if $height != 0 {
        height: $height;
    }
}

@mixin cutText() {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin effectImg() {
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        content: "";
        width: 0;
        height: 0;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 100%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    &:hover {
        &::before {
            -webkit-animation: circle 0.75s;
            animation: circle 0.75s;
        }
        img {
            transform: scale(1.2);
        }
    }
}

